body {
  background-color: #eef8fc;
}
label {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  margin-left: 5%;
  color: #253d5b;
}
.sousTitre{
  margin-top: 2%;
 
  font-family: Arial, Helvetica, sans-serif;
 
  font-weight: bold;
  margin-left: 5%;
  color: #253d5b;
}


.Cform {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
}
.Consult {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  padding-left: 4rem;
  padding-bottom: 1.2rem;
  margin-top: 5%;
  margin-right: 30%;
  margin-left: 30%;

  border: solid #729777;
  border-radius: 1.875rem;
}
.btn {
  text-indent: 1%;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;

  border-radius: 1.875rem;
  border-color: transparent;
  background-color: #45cca4;
  font-weight: bold;
  text-align: center;

  box-sizing: border-box;
 
  margin-left: 20%;
  text-indent: 1%;
  border-radius: 1.875rem;
  
  
  padding: 4px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-style: outset;
 
}
.optionCss{
    border-radius: 1.875rem;
    width: 80%; 
}
.optionCss:hover{
    background-color:aquamarine;
    color: #eef8fc;
}
.disabledNumber{
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #355882;
  cursor: pointer;
  text-indent: center;
  text-align: center;
  box-sizing: border-box;
  margin-left: 20%;
  margin-bottom: 5%;
  border-width: 1px;
  border-style: solid;
  border-radius: 1.875rem;
  padding-left: 1.5rem;
  /* padding-right: 3rem; */
  height: 2rem;
  width: 60%;
}
