body {
    background-color: #eef8fc;
  }
  .sousTitre{
    margin-top: 2%;
   
    font-family: Arial, Helvetica, sans-serif;
   
    font-weight: bold;
    margin-left: 5%;
    color: #253d5b;
  }
  .SecterTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    color: #4775AE;
    padding-bottom: 1.2rem;
    margin-top: 0.5%;
    margin-right: 20%;
    margin-left: 25%;
   
}
.SecterTab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 90%;
  }
  .SecterTab td, .SecterTab th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2%;
    font-weight: bold;
  }
.SecterTab tr:nth-child(even){background-color: #DEE5F7;}  
.SecterTab tr:hover {
    background-color: #BECAEF;
    color: #5C574F;
}
.SecterTab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #07C57F;
    color: white;
  }
  .btn{
    text-indent: 1%;
    width: 15%;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-left: 42%;
  
    border-radius: 1.875rem;
    border-color: transparent;
    background-color: #45cca4;
    /* font-size:small; */
    font-weight: bold;
    text-align: center;
  
    box-sizing: border-box;
  
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  
    border-style: outset;
    border-color: transparent;
  }
  .btn:hover{
    background-color: #7C98DF;
    color: white;
  }
