{%load static%}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8 general">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href={% static "css/addNewAction.css" %} rel="stylesheet" >
    <link href={% static "css/navbar.css" %} rel="stylesheet" >
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <title>Ajouter Action</title>
      
  </head>

  <body>
      {%include 'messages.html'%}
      {%include 'navbar.html'%}
      <div class="CreateAction">
        <form action="CreateAction" name="CreateAction" method="POST" enctype="multipart/form-data" style="display:grid ;">
            {% csrf_token %}
                <input type="number" name="idProb" id="idProb" value="{{idProb}}" hidden>
                <input type="number" name="idPA" id="idPA" value="{{idPA}}" hidden>
                <input type="number" name="nbAct" id="nbAct" value="{{nbAct}}" hidden>
                <label for="nbAct">Action N°: </label>
                <input class="disabledNumber" type="number" name="nbAct" id="nbAct" value="{{nbAct}}" disabled>
                <label for="causeAct">Donner la cause de l'action : </label>
                <textarea name="causeAct" id="causeAct" cols="60" rows="10" required>{%if cause %} {{cause}} {%endif%}</textarea>
                <label for="actionAct">Donner l'action : </label> 
                <textarea name="actionAct" id="actionAct" cols="60" rows="10" required>{%if action %} {{action}} {%endif%}</textarea>
                <label for="">Sélectionner les responsables dans cet action : </label>
                {%for resp in resps%}
                <div class="theNumber">
                    {{resp.Immatricule}}
                    <input type="checkbox" name="resp{{resp.Immatricule}}" value="{{resp.Immatricule}}" id="resp{{resp.Immatricule}}" {%if resp.Immatricule in selectedResps %} checked {%endif%} >
                  </div>
                    {%endfor%}
                <label for="datePrevue">Donner la date Prévue de l'action : </label>
                <input class="disabledNumber" type="date" name="datePrevue" id="datePrevue" {%if dtpr %} value="{{dtpr}}" {%endif%} required>
                <label for="P">Voulez vous planifiez l'action : </label>
                <div class="Oui">
                Oui
                <input type="checkbox"  name="P" id="P" {%if planified %} checked {%endif%}>
              </div>
                <input class="btn" type="submit" value="Create" id="Create">
        </form>
      </div>
  </body>
</html>