{%load static%}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8 general">
    <meta name="ActionManagement" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <link href={% static "css/navbar.css" %} rel="stylesheet" >
    <link href={% static "css/dashboard.css" %} rel="stylesheet" >
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <title>Tableau de bord</title>
      
  </head>

  <body>
    {%include 'navbar.html'%}
      <div class="DivSousTitre">
        <div>
          <h1 class="sousTitre1">Tableau de bord pour le(s) PA(s) : </h1>
          {%for sect in sects%}
            <h4 class="sousTitre1 liItem1"><small>{{sect|safe}}</small></h4>
          {%endfor%}
        </div>
        <form  action="DashboardForm" method="post">
          {%csrf_token%}
          <input class="DashboardForm" type="submit" value="Filtrer">
        </form>
      </div>
      {%if resps %}
          <h1 class="sousTitre">Pour le(s) responsable(s) : </h1>
          {%for resp in resps%}
            <h2 class="sousTitre"><small>{{resp}}</small></h2>
          {%endfor%}
      {%else%}
        <h1 class="sousTitre">Pour tous les responsables </h1>
      {%endif%}
  
    
    <div class="userTable">
      <h1 class="sousTitre tableTiltle">Table TRA, TRAT et TCA</h1>
      <table class="userTab">
        <tr>
          <th>PA</th>
          <th>Trimestre 1</th>
          <th>Trimestre 2</th>
          <th>Trimestre 3</th>
          <th>Trimestre 4</th>
          <th>Moyenne</th>
        </tr>
        {% for sect,t in TRA %}
          <tr>
            <td><h4>{{sect|safe}}</h4> <h5>TRA</h5> <h5>TRAT</h5>  <h5>TCA</h5> <h5>nombre total de PA</h5> <h5>PA effectué</h5> <h5>PA à réaliser</h5> </td>
            {% for tr,tt,tc,nbAllPA,nbCompletedPA,nbUncompletedPA in t %}
              {%if tr == "Pas d'actions planifiées dans cette période!" or tr == "En dehors de la période donnée!" or tr == "Pas de moyenne!"%}
                <td>{{tr}}</td>
              {%else%}
                <td><br> <br>{{tr}} <br> <br> {{tt}}<br> <br>{{tc}}<br> <br>{{nbAllPA}}<br> <br>{{nbCompletedPA}}<br> <br>{{nbUncompletedPA}}</td>
              {%endif%}
            {%endfor%} 
          </tr>
        {%endfor%}
      </table> 
    </div>

    <br>


<div class="userTable">
    <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>
    <h1 class="sousTitre">TRA(<img src="{% static "images/violet.png" %}" style="width:30px; height:20px;" />), TRAT(<img src="{% static "images/brown.png" %}" style="width:30px; height:20px;" />) et TCA(<img src="{% static "images/green.png" %}" style="width:30px; height:20px;" />) par PA</h1>
    {{ chart1.as_html }}
    <h3 class="statistic ">Moyen TRA = {{TRAMoyen}}<br>Moyen TRAT = {{TRATMoyen}}<br>Moyen TCA = {{TCAMoyen}}</h3>
    
    <h1 class=" sousTitre">TRA(<img src="{% static "images/violet.png" %}" style="width:30px; height:20px;" />), TRAT(<img src="{% static "images/brown.png" %}" style="width:30px; height:20px;" />) et TCA(<img src="{% static "images/green.png" %}" style="width:30px; height:20px;" />) par Trimestre</h1>
    {{ chart.as_html }}
    <h3 class="statistic">Moyen TRA = {{TRATrimMoyen}}<br>Moyen TRAT = {{TRATTrimMoyen}}<br>Moyen TCA = {{TCATrimMoyen}}</h3>
  </div>
  </body>
</html>