{%load static%}

<nav class="navbar">
  <div class="logoNav">
    <form action="home" name="home" method="post">
      {% csrf_token%} <img src="{% static "images/logo.png" %}" alt="logo
      Quadiv-Tous" onclick="setTimeout(function() { document.home.submit() },
      0)">
    </form>
    <h3>Quali-Tous</h3>
</div>


    {%if request.session.user %} {%if request.session.noPA == False %}

    <form action="ConsultAllMyActions" name="myform2" method="post">
      {% csrf_token%}
      <a
        href="ConsultAllMyActions"
        onclick="setTimeout(function() { document.myform2.submit() }, 0)"
      >
        Consulter mes actions
      </a>
    </form>

    <form action="ConsultAllMyPA" name="myform3" method="post">
      {% csrf_token%}
      <a
        href="ConsultAllMyPA"
        onclick="setTimeout(function() { document.myform3.submit() }, 0)"
      >
        Consulter mes plans d'actions
      </a>
    </form>
    
    <form action="Consult" name="myform" method="post">
      {% csrf_token%}
      <a
        href="Consult"
        onclick="setTimeout(function() { document.myform.submit() }, 0)"
      >
        Consulter PA
      </a>
    </form>
  
    {%endif%}
  
    <form action="CreatePA" name="myform1" method="post">
      {% csrf_token%}
      <a
        href="Consult"
        onclick="setTimeout(function() { document.myform1.submit() }, 0)"
      >
        Nouveau PA
      </a>
    </form>
  
    <form action="ConsultUsers" name="ConsultUsers" method="post">
      {% csrf_token%}
      <a
        href="ConsultUsers"
        onclick="setTimeout(function() { document.ConsultUsers.submit() }, 0)"
      >
        Liste des Immatricules
      </a>
    </form>
    {% if request.session.user.Immatricule == 3 %}
  
  
    <form action="ConsultSecters" name="ConsultSecters" method="post">
      {% csrf_token%}
      <a
        href="ConsultSecters"
        onclick="setTimeout(function() { document.ConsultSecters.submit() }, 0)"
      >
        Consulter Secteurs
      </a>
    </form>
  
    <form action="Dashboard" name="Dashboard" method="post">
      {% csrf_token%}
      <a href="Dashboard" onclick="setTimeout(function() { document.Dashboard.submit() }, 0)">Tableau de bord</a>
      <select class="disabledNumber" name="secteurs" id="secteurs" spellcheck="true" hidden>
        <option value="tous" selected>Tous</option>
      </select>
      <input class="check top" type="checkbox" name="periode" value="periode" id="periode" hidden>
      <input class="check" type="checkbox" name="tousResp" value="tousResp" id="tousResp" checked hidden>
    </form>
  
    {%endif%}
    <a href="Logout">Déconnecter</a>
    {%else%}
    <a href="Login">Connecter</a>
    {%endif%}
  
</nav>



    
       

  
 

    


