{%load static%}
<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8 general">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href={% static "css/PA.css" %} rel="stylesheet" >
    <link href={% static "css/PA2.css" %} rel="stylesheet"> -->
    <link href={% static "css/navbar.css" %} rel="stylesheet" >
    <link href={% static "css/PAE.css" %} rel="stylesheet" >
    <link rel="shortcut icon" href="../static/images/favicon.ico">

    <title>Plan d'action</title>
  
  </head>

  <body>
    {%include 'navbar.html'%}


    <div class="userTable">
        <table class="userTab">
            <tr>
                <th class="logo"><img src="{% static "images/logoSidilec.png" %}" alt="logo Quali-Tous" style="width: 80px;height: 80px;"></th>
                <th class="audit"><b>{{pa.nomPA}} </b> N°: {{pa.nbPA}}</th>
                <th class="page"><b>Page: </b>{{pa.pagePA}} </th>
            </tr>
        </table>
    </div>
  
    <br><br>
  
    <div class="userTable">  
        <table class="userTab">
          <tr>
            <td colspan="3">
              <table class="userTab">
                  <tr>
                      <th class="sidilec"><b>SIDILEC International</b></th>
                      <th class="annee"><b>Année : </b>{{pa.datePA.year}}</th>
                      <th class="participants"><b>Participants : </b>
                     
                      </th>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <table class="userTab">
                        <tr>
                          <td class="pilote"><b>Pilote : </b>{{pilote}} <br> </td>
                          <td class="secteur"><b>Secteur : </b>{{pa.secteurPA}} <br> </td>
                          <td class="Date"><b>Date : </b>{{pa.datePA}} <br> </td>
                          
                        </tr>
                      </table>
                    </td>
                    <td rowspan="3">
                      {%for part in parts%}
                      {{part}} 
                    {%endfor%}
                    {%if request.session.user.Name == pilote %}
                      <form action="ModificateParticipants" class="ModificateParticipants" name="ModificateParticipants" method="post">
                        {%csrf_token%}
                        <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                        <img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png" onclick="setTimeout(function() { document.ModificateParticipants.submit() }, 0)">
                      </form>
                    {%endif%}
                    </td>
                  </tr>
                  <tr>
                    <td class="pilote"><b>Checkers : </b>
                        {%for C in Cs%}
                          {{C}} 
                        {%endfor%}
                        {%if request.session.user.Name == pilote %}
                          <form action="ModificateCheckers" class="ModificateCheckers" name="ModificateCheckers" method="post">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png" onclick="setTimeout(function() { document.ModificateCheckers.submit() }, 0)">
                          </form>
                        {%endif%}
                    </td>
                    <td class="pilote"><b>Actors : </b>
                      {%for A in As%}
                          {{A}} 
                        {%endfor%}
                        {%if request.session.user.Name == pilote %}
                          <form action="ModificateActors" class="ModificateActors" name="ModificateActors" method="post">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png" onclick="setTimeout(function() { document.ModificateActors.submit() }, 0)">
                          </form>
                        {%endif%}
                    </td>
            
                  </tr>
              </table>
            </td>
            <td colspan="3" class="vide"></td>
            <td>
              <table class="userTabDate">
                <tr>
                  <td colspan="4" class="dateRevision"><b>Date révision : </b>
                    {%if pa.datePA != pa.dateRev %}
                      {{pa.dateRev}}
                    {%endif%}
                  </td>
                </tr>
                <tr>
                  <td class="rev"><b>1</b></td>
                  <td class="rev"><b>2</b></td>
                  <td class="rev"><b>3</b></td>
                  <td class="rev"><b>4</b></td>
                </tr>
                <tr>
                  {%if pa.nbRev == 0 %}
                  <td class="revDone">
                    <form action="rev" method="post" id="nbRevform1" name="nbRevform1">
                      {%csrf_token%}
                      <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                      <input type="checkbox" name="rev1" id="rev1" onclick="setTimeout(function() { document.nbRevform1.submit() }, 0)" {%if request.session.user.Name not in pa.C and request.session.user.Name not in pa.A %} disabled {%endif%} >
                    </form>
                  </td>
                  <td class="revDone"><input type="checkbox" name="rev2" id="rev2"  disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev3" id="rev3" disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev4" id="rev4" disabled></td>
                  {%elif pa.nbRev == 1 %}
                  <td class="revDone"><input type="checkbox" name="rev1" id="rev1" checked disabled></td>
                  <td class="revDone">
                    <form action="rev" method="post" id="nbRevform1" name="nbRevform2">
                      {%csrf_token%}
                      <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                      <input type="checkbox" name="rev2" id="rev2" onclick="setTimeout(function() { document.nbRevform2.submit() }, 0)" {%if request.session.user.Name not in pa.C and request.session.user.Name not in pa.A %} disabled {%endif%} >
                    </form>
                  </td>
                  <td class="revDone"><input type="checkbox" name="rev3" id="rev3" disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev4" id="rev4" disabled></td>
                  {%elif pa.nbRev == 2 %}
                  <td class="revDone"><input type="checkbox" name="rev1" id="rev1" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev2" id="rev2" checked disabled></td>
                  <td class="revDone">
                    <form action="rev" method="post" id="nbRevform3" name="nbRevform3">
                      {%csrf_token%}
                      <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                      <input type="checkbox" name="rev3" id="rev3" onclick="setTimeout(function() { document.nbRevform3.submit() }, 0)" {%if request.session.user.Name not in pa.C and request.session.user.Name not in pa.A %} disabled {%endif%} >
                    </form>
                  </td>
                  <td class="revDone"><input type="checkbox" name="rev4" id="rev4" disabled></td>
                  {%elif pa.nbRev == 3 %}
                  <td class="revDone"><input type="checkbox" name="rev1" id="rev1" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev2" id="rev2" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev3" id="rev3" checked disabled></td>
                  <td class="revDone">
                    <form action="rev" method="post" id="nbRevform4" name="nbRevform4">
                      {%csrf_token%}
                      <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                      <input type="checkbox" name="rev4" id="rev4" onclick="setTimeout(function() { document.nbRevform4.submit() }, 0)" {%if request.session.user.Name  not in pa.C and request.session.user.Name not in pa.A %} disabled {%endif%} >
                    </form>
                  </td>
                  {%elif pa.nbRev == 4 %}
                  <td class="revDone"><input type="checkbox" name="rev1" id="rev1" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev2" id="rev2" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev3" id="rev3" checked disabled></td>
                  <td class="revDone"><input type="checkbox" name="rev4" id="rev4" checked disabled></td>
                  {%endif%}
                </tr>
                {%if messages%}
                  <tr>
                    <td colspan="4" class="pourcentage&alerts">
                      {% for message in messages %}
                        <div class="alert alert-dismissible alert-success">
                          <strong>{{message}}</strong>
                        </div>
                      {% endfor %}
                    </td>
                  </tr>
                {%endif%}
              </table>
            </td>
          </tr>
        </table>
    </div>

    <div class="tableHeader">
      <p><h3 class="sousTitre">(*)CR : criticité (1:critique  2:modéré  3:non critique)</h3></p>
    </div>

    <div class="respFilter">
      <form action="Consult" id="respFilterForm" name="respFilterForm" method="post" enctype="multipart/form-data" style="display:flexbox ;">
        {%csrf_token%}
        <input type="text" name="sects" id="sects" value="{{pa.nomPA}}" hidden>
        <input type="number" name="nbPA" id="nbPA" value="{{pa.nbPA}}" hidden>
        <input type="number" name="pagePA" id="pagePA" value="{{pa.pagePA}}" hidden>
        <label for="nbPA"><b>Filtrer les actions par : </b></label>
        <select class="disabledNumber" name="respFilter" id="respFilter" spellcheck="true" onchange="setTimeout(function() { document.respFilterForm.submit() }, 0)">            
          <option   value="tous" {%if respFilter == "tous"%}selected{%endif%}>toutes</option>
          <option value="miennes" {%if respFilter == "miennes"%}selected{%endif%}>miennes</option>
        </select>
      </form>
    </div>

    <br>
      
    <div class="userTable">
        <table class="userTab">
          <tr>
            <th class="ltheaderColored"><b>N°</b></th>
            <th class="theaderColored"><b>Problèmes</b></th>
            <th class="ltheaderColored"><b>Cr <br>(*)</b></th>
            <th class="theaderColored"><b>Causes retenus</b></th>
            <th class="theaderColored"><b>Actions correctives</b></th>
            <th class="theaderColored"><b>responsable/<br>Signature</b></th>
            <th class="theaderColored"><b>Date prévue</b></th>
            <th class="theaderColored" colspan="4"><b>STATUS</b></th>
            {%if request.session.user.Name == pilote %}
              <th></th>
            {%endif%}
          </tr>
            {%if axeAndProbAndActions%}
            {%for aPAA in axeAndProbAndActions%}
              <tr>
                <td class="axeNumber">{{aPAA.0.nbAxe}}</td>
                <td class="probDomain">
                  <b>{{aPAA.0.indicateur}}</b>
                  {%if request.session.user.Name == pilote %}
                    <form action="ModificateAxe" class="ModificateAxe" name="ModificateAxe" method="post">
                      {%csrf_token%}
                      <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                      <input type="number" name="idAxe" id="idAxe" value="{{aPAA.0.idAxe}}" hidden>
                      <button type="submit"><img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/></button>
                    </form>
                  {%endif%}
                </td>
                <td class="vide1" colspan="9"></td>
              </tr>
              {%if aPAA.2%}
              {%for pAA in aPAA.2%}
                <tr class="row">
                  <td class="probNumber" rowspan="{{pAA.1}}">{{aPAA.0.nbAxe}}-{{pAA.0.nbProb}}</td>
                  <td class="probDescription" rowspan="{{pAA.1}}">
                    {{pAA.0.descriptionProb}}
                    {%if request.session.user.Name == pilote %}
                      <form action="ModificateProblem" class="ModificateProblem" name="ModificateProblem1" method="post">
                        {%csrf_token%}
                        <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                        <input type="number" name="idProb" id="idProb" value="{{pAA.0.idProb}}" hidden>
                        <button type="submit"><img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/></button>
                      </form>
                    {%endif%}
                  </td>
                  <td class="ltheader" id="cr" rowspan="{{pAA.1}}">
                    {{pAA.0.cr}}
                    {%if request.session.user.Name == pilote %}
                      <form action="ModificateProblem" class="ModificateProblem" name="ModificateProblem2" method="post">
                        {%csrf_token%}
                        <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                        <input type="number" name="idProb" id="idProb" value="{{pAA.0.idProb}}" hidden>
                        <button type="submit"><img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/></button>
                      </form>
                    {%endif%}
                  </td>
                </tr>
                {%if pAA.3%}
                  {%for action in pAA.3%}
                    <tr class="row">
                      <td class="theader" id="causesRetenues">{{action.cause}}</td>
                      <td class="theader" id="actionsCorrectives">{{action.action}}</td>
                      <td class="theader" id="responsable">{{action.resp}}</td>
                      <td class="theader" id="datePrevue">{{action.datePrevue}}</td>
                      <td class="ltheader" id="P">
                        {%if action.P %}
                          <form action="UpdateP" method="post" id="Pform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="P" id="P" value="{{action.P}}" checked onclick="setTimeout(Pform(this), 0)" {%if request.session.user.Name != pilote %} disabled {%endif%} >
                          </form>
                        {%else%}
                          <form action="UpdateP" method="post" id="Pform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="P" id="P" value="{{action.P}}" onclick="setTimeout(Pform(this), 0)" {%if request.session.user.Name != pilote %} disabled {%endif%}>
                          </form>
                        {%endif%}
                      </td>
                      <td class="ltheader" id="D">
                        {%if action.D %}
                          <form action="UpdateD" method="post" id="Dform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="D" id="D" value="{{action.D}}" checked onclick="setTimeout(Dform(this), 0)" {%if request.session.user.Name not in action.resp %} disabled {%endif%}>
                          </form>
                        {%else%}
                          <form action="UpdateD" method="post" id="Dform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="D" id="D" value="{{action.D}}" onclick="setTimeout(Dform(this), 0)" {%if request.session.user.Name not in action.resp %} disabled {%endif%}>
                          </form>
                        {%endif%}
                      </td>
                      <td class="ltheader" id="C">
                        {%if action.C %}
                          <form action="UpdateC" method="post" id="Cform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="C" id="C" value="{{action.C}}" checked onclick="setTimeout(Cform(this), 0)" {%if request.session.user.Name  not in pa.C %} disabled {%endif%}>
                          </form>
                        {%else%}
                          <form action="UpdateC" method="post" id="Cform{{action.idAct}}">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <input type="checkbox" name="C" id="C" value="{{action.C}}" onclick="setTimeout(Cform(this), 0)" {%if request.session.user.Name  not in pa.C %} disabled {%endif%}>
                          </form>
                        {%endif%}
                      </td>
                      <td class="ltheader" id="A">
                      {%if action.A %}
                      <form action="UpdateA" method="post" id="Aform{{action.idAct}}">
                        {%csrf_token%}
                        <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                        <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                        <input type="checkbox" name="A" id="A" value="{{action.A}}" checked onclick="setTimeout(Aform(this), 0)" {%if request.session.user.Name not in pa.A %} disabled {%endif%}>
                      </form>
                    {%else%}
                      <form action="UpdateA" method="post" id="Aform{{action.idAct}}">
                        {%csrf_token%}
                        <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                        <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                        <input type="checkbox" name="A" id="A" value="{{action.A}}" onclick="setTimeout(Aform(this), 0)" {%if request.session.user.Name not in pa.A %} disabled {%endif%}>
                      </form>
                    {%endif%}
                      </td>
                      {%if request.session.user.Name == pilote %}
                        <td>
                          <form action="ModificateAction" class="ModificateAction" name="ModificateAction{{action.idAct}}" id="ModificateAction{{action.idAct}}" method="post">
                            {%csrf_token%}
                            <input type="number" name="idPA" id="idPA" value="{{pa.idPA}}" hidden>
                            <input type="number" name="idAct" id="idAct" value="{{action.idAct}}" hidden>
                            <button type="submit"><img class="modificate" src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/></button>
                          </form>
                        </td>
                      {%endif%}
                    </tr>
                  {%endfor%}
                {%endif%}
                <tr>
                  <td class="addAction" colspan="9">
                    <form action="CreateAction" method="post">
                      {%csrf_token%}
                      <input type="number" name="idProb" value="{{pAA.0.idProb}}" hidden>
                      <input type="number" name="idPA" value="{{pa.idPA}}" hidden>
                      <input class="btn" type="submit" value="Ajouter une Action" {%if request.session.user.Name != pilote %} hidden {%endif%}>
                    </form>
                </td>
                </tr>
              {%endfor%}
            {%endif%}
            <tr>
              <td colspan="9">
                <form action="CreateProblem" method="post">
                  {%csrf_token%}
                    <input type="number" name="idPA" value="{{pa.idPA}}" hidden>
                    <input type="number" name="idAxe" value="{{aPAA.0.idAxe}}" hidden>
                    <input class="btn" type="submit" value="Ajouter nouveau Problème" {%if request.session.user.Name != pilote %} hidden {%endif%}>
                </form>
              </td>
            </tr>
            
          {%endfor%}
          {%endif%}
        </table>
    </div>
    
    <form action="CreateAxe" method="post">
      {%csrf_token%}
        <input type="number" name="idPA" value="{{pa.idPA}}" hidden>
        <input class="btn" type="submit" value="Ajouter nouveau Axe de Problèmes" {%if request.session.user.Name != pilote %} hidden {%endif%}>
    </form>
    <form action="AddPage" method="post">
      {%csrf_token%}
        <input type="number" name="idPA" value="{{pa.idPA}}" hidden>
        <input class="btn" type="submit" value="Ajouter une page" {%if request.session.user.Name != pilote %} hidden {%endif%}>
    </form>
    
    <script src="{% static "js/UpdatePDCA.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>